<?xml version="1.0"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="jndiTemplate"
		class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">
					org.jnp.interfaces.NamingContextFactory
				</prop>
				<prop key="java.naming.provider.url">inkless-uat.elex.be</prop>
				<prop key="java.naming.factory.url.pkgs">
					org.jnp.interfaces:org.jboss.naming
				</prop>
			</props>
		</property>
	</bean>
	
	<bean id="jmsQueueConnectionFactory"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>
		<property name="jndiName">
			<value>QueueConnectionFactory</value>
		</property>
	</bean>

	<bean id="destination"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate">
			<ref bean="jndiTemplate" />
		</property>
		<property name="jndiName">
			<value>queue/partner</value>
		</property>
	</bean>

	<bean id="jmsTemplate"
      class="org.springframework.jms.core.JmsTemplate102">
    	<property name="connectionFactory">
        	<ref bean="jmsQueueConnectionFactory"/>
    	</property>
    	<property name="defaultDestination">
        	<ref bean="destination"/>
    	</property>
	    <property name="receiveTimeout">
        	<value>30000</value>
    	</property>
    	<property name="pubSubDomain">
    		<value>false</value>
    	</property>
	</bean>

	<bean id="waferSender" class="com.melexis.partner.WaferSenderImpl">
    	<property name="jmsTemplate">
        	<ref bean="jmsTemplate"/>
    	</property>
	</bean>


</beans>
